<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1>Bem-vindo ao Sistema</h1>
      <p class="lead">Faça login para acessar o sistema</p>
      
      <% if !authenticated? %>
        <%= link_to "Fazer Login", login_path, class: "btn btn-primary btn-lg" %>
      <% else %>
        <p>Você já está logado como <strong><%= current_user.email %></strong></p>
        <%= link_to "Acessar Gastos", gastos_path, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>