<% content_for :page_title, "Nova Taxa de Cartão" %>
<% content_for :page_description, "Cadastre uma nova taxa de cartão." %>
<% content_for :page_icon do %>
  <svg class="w-6 h-6 text-tags-branco" fill="none" stroke="currentColor" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
  </svg>
<% end %>

<div class="h-full flex flex-col">
  <div class="bg-white rounded-lg p-6 shadow-md">
    <%= render 'form', taxa_cartao: @taxa_cartao %>
  </div>
</div>